<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="qa">
        <environment id="qa">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url"
                          value="jdbc:postgresql://127.0.0.1:5433/postgres"/>
                <property name="username" value="postgres"/>
                <property name="password" value="1"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="lesson6\db\mapper\xml\CategoriesMapper.xml"/>
        <mapper resource="lesson6\db\mapper\xml\ProductsMapper.xml"/>
    </mappers>
</configuration>
